@import '../../styles/settings';

.process {
    width: 1140px;
    margin: 200px auto;
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.process__title {
    @include title-h4;
    color: $grey;
}

.process__img {
    display: flex;
    align-items: center;
    &-circle {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        border: 1px solid $dark-cyan;
    }
    &-line {
        width: 380px;
        border: 1px solid $pale-orange;
    }
}

.process__list {
    display: flex;
    justify-content: space-between;
}

.process__item {
    display: flex;
    flex-direction: column;
    flex: 0 0 30%;
    justify-content: space-between;
    height: 250px;
    &-number {
        font-size: 60px;
        font-family: $heading-font;
        color: $pale-orange;
    }
    &-title {
        @include title-h4;
        color: $dark-grey-blue;
        display: flex;
        align-items: center;
    }
    &-description {
        color: $grey;
        font-size: 12px;
        
    }
}

.process__button {
    @include button;
    transition: background-color 0.3s ease-in;
    &:hover {
        background-color: #66D2CF;
      }
}