@import '../../styles/settings';

.quality {
    position: relative;
    height: 560px;
    margin: 200px auto;
   
}

.quality__content {
    display: flex;
    flex-direction: column;
    background-color: $dark-grey-blue;
    height: 80%;
    padding: 0 60px;
    gap: 30px;
    justify-content: center;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 10px;
   
    &-title {
        @include title-h2;
        color: #fff;
        width: 600px;
    }
    &-description {
        font-size: 15px;
        color: $grey;
        width: 500px;
    }
}

.quality__picture {
    height: 80%;
    position: absolute;
    top: 0;
    right: 60px;
    &-img {
        height: 100%;
        border-radius: 10px;
        
    }
}

@media (max-width: 1280px) {
    .quality__content {
        text-align: center;
        align-items: center;
        justify-content: flex-end;
        padding-bottom: 40px;
        &-description {
          width: 600px;
        }
    }

    .quality__picture {
        height: 50%;
        width: 600px;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        &-img {
            height: 100%;
            width: 100%;
            object-fit: cover;
            
        }
    }
}

@media (max-width: 768px) {
    .quality {
        height: 600px;
    }
.quality__content {
    align-items: center;
    &-title {
        max-width: 300px;
        @include title-h3;
        color: #fff;
        text-align: center;
        height: 70px;
    }
    &-description {
     width: 100%;
     text-align: center;
    
    }
}
.quality__picture {
    height: 40%;
    width: 80%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    &-img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        
    }
}
}

@media(max-width: 576px) {
    .quality {
        height: 700px;
    }
}

@media (max-width: 480px) {
    .quality {
        height: 800px;
    }
}