@import '../../styles/settings';

.headquarters {
    width: 1140px;
    margin: 200px auto;
    display: flex;
    flex-direction: column;
    gap: 80px
}

.headquarters__header {
    @include title-h4;
    color: $grey;
}

.headquarters__content {
    display: flex;
    justify-content: space-between;
}

.headquarters__item {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 200px;
    height: 300px;
    &-img {
        width: 80px;
        height: 80px;
    }
    &-title {
        @include title-h3;
        color: $dark-grey-blue;
    }
    &-description {
        color: $grey;
    }
}