@import '../../styles/settings';

.headquarters {
    width: 1140px;
    margin: 200px auto;
    display: flex;
    flex-direction: column;
    gap: 80px
}

.headquarters__header {
    @include title-h4;
    color: $grey;
}

.headquarters__content {
    display: flex;
    justify-content: space-between;
}

.headquarters__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    width: 200px;
    height: 300px;
    &-img {
        width: 80px;
        height: 80px;
    }
    &-title {
        @include title-h3;
        color: $dark-grey-blue;
    }
    &-description {
        color: $grey;
    }
}

@media (max-width: 1280px) {
    .headquarters {
        width: 100%;
        padding: 0 50px;
    }
}

@media (max-width: 768px) {
    .headquarters__item {
        &-title {
            @include title-h4;
            color: $dark-grey-blue;
        }
    }
}

@media (max-width: 576px) {
    .headquarters {
        justify-content: center;
        align-items: center;
    }
    .headquarters__content {
        flex-direction: column;
        gap: 40px;
    }
    .headquarters__item {
        align-items: center;
        gap: 10px;
        text-align: center;
    }
}