@import '../../styles/settings';

.header {
    background: url('../../../public/assets/home/desktop/image-hero-coffeepress.jpg');
    background-size: cover;
    height: 560px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header__content {
    display: flex;
    flex-direction: column;
    gap: 40px;
    color: #fff;
    width: 1120px;
    &-title {
        @include title-h1;
        color:#fff;
        width: 500px;
    }
    &-description {
        font-size: 15px;
        width: 400px;
        color: $grey;
    }
    &-button {
      @include button;
      transition: background-color 0.3s ease-in;
      &:hover {
        background-color: #66D2CF;
      }
    }
}

