@import '../../styles/settings';

.commitment {
    width: 1140px;
    display: flex;
    margin: 200px auto;
    justify-content: space-between;
    height: 520px;
}

.commitment__picture {
    flex: 0 0 30%;
    &-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 10px;
    }
}
.commitment__content {
    flex: 0 0 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 25px;
    &-title {
        @include title-h2;
        color: $dark-grey-blue;
    }
    &-description {
        font-size: 15px;
        color: $dark-grey-blue;
    }
}

@media (max-width: 1280px) {
    .commitment {
        width: 100%;
        padding: 0 50px;
    }
}

@media (max-width: 576px) {
    .commitment {
        flex-direction: column;
        height: 900px;
        
    }
    .commitment__content {
        align-items: center;
        justify-content: flex-start;
        margin-top: 10px;
        &-title {
            text-align: center;
        }
        &-description {
            text-align: center;
        }
    }
}