@import '../../styles/settings';

.create-process {
    background-color: $dark-grey-blue;
    margin: 200px 0;
    height: 650px;
    border-radius: 10px;
    gap: 60px;
    padding: 0 60px;
    display: flex;
    flex-direction: column;
    justify-content: center
}

.create-process__img {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    &-circle {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        border: 1px solid $dark-cyan;
    }
    &-line {
        width: 380px;
        border: 1px solid $pale-orange;
    }
}

.create-process__list {
    display: flex;
    justify-content: space-between;
}

.create-process__item {
    display: flex;
    flex-direction: column;
    flex: 0 0 30%;
    justify-content: space-between;
    height: 250px;
    gap: 20px;
    &-number {
        font-size: 60px;
        font-family: $heading-font;
        color: $pale-orange;
        height: 80px;
        margin-bottom: 20px;
    }
    &-title {
        @include title-h4;
        color: #fff;
        display: flex;
        align-items: center;
        width: 150px;
        height: 100px;
    }
    &-description {
        color: $grey;
        font-size: 12px;
        height: 150px;
        width: 250px;
        
    }
}

@media(max-width: 1280px) {
    .create-process {
        padding: 0 50px;
    }
    .create-process__item {
        &-description {
            width: 100%;
        }
    }
    .create-process__img {
        width: 100%;
        &-line {
            width: 32%;
        }
    }
}

@media (max-width: 786px) {
    .create-process__item {
        flex: 0 0 20%;
      
    }
    
}

@media (max-width: 576px) {
    .create-process {
        height: auto;
    }
    .create-process__list {
        flex-direction: column;
        gap: 20px;
    }
    .create-process__item {
        align-items: center;
        gap: 10pxpx;
        &-number {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 0;
        }
        &-title {
            text-align: center;
            width: 280px;
            justify-content: center;
            height: 50px;
        }
        &-description {
            text-align: center;
        }
    }
    .create-process__img {
        display: none;
    }
}